<html lang="en">
<head>
​
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hungquery</title>
 
    <!-- adding bootstrap link from css folder -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"-->
    <!-- adding logo icon for url from image folder -->
    <link rel="icon" type="image/png" href="/static/images/logo.png" sizes="32x32">
​
​
</head>
​
<body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style=background-color:#6B5B95>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" id="home" class="active navbar-brand brand_color" >Hungquery</a>
                <a href="/Plot" id="home" class="active navbar-brand brand_color" >View all recipes</a>
                
            </div>
            <div>

                <div class="collapse navbar-collapse" id="myNavbar">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop_down_color">
                                <li>
                                    <a href="/breakfastpie" >Breakfast</a>
                                </li>
                                <li>
                                    <a href="/lunchpie" >Lunch</a>
                                </li>
                                <li>
                                    <a href="/dinnerpie" >Dinner</a>
                                </li>
                            </ul>
                
                    </ul>
                </div>

            </div>
        </div>
    </nav>
​
<!-- Header stuff -->
<div class="container">
​
    <div class="well text-center">
​
        <h1>Hungquery</h1>
        <p>By Alienor and Kadar</p>
​
    </div>
​
<div class="container">
    
<div class="container">
​
​
    <form action= "/addnew" method="post">
​
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Name</label>
            <textarea class="form-control" name="Name" id="exampleFormControlTextarea1" rows="1"></textarea>
        </div>
​
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Minutes</label>
            <input type="number" class="form-control" name="Minutes" id="exampleFormControlInput1" placeholder="25">
        </div>
​
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Link</label>
            <input type="url" class="form-control" name="Link" id="exampleFormControlInput1" placeholder="https://example.com/recipe">
        </div>
​
        <div class="form-group">
            <fieldset>
​
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Special Diets</label>
            <textarea class="form-control" name="SpecialDiets" id="exampleFormControlTextarea1" rows="1" placeholder="Indicate if the recipe follows any restrictions (Gluten-Free, Paleo, Vegan, Low-Carb)"></textarea>
        </div>
​
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Blurb</label>
            <textarea class="form-control" name="blurb" id="exampleFormControlTextarea1" rows="3" placeholder="Write a short description of the recipe and the main ingredients used."></textarea>
        </div>
​
        <div class="form-group">
            <label for="exampleFormControlSelect2">Type</label>
            <select class="form-control" name="Type" id="exampleFormControlSelect1">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            </select>
        
        </div>

​        <div class="form-group">
            <label for="exampleFormControlSelect2">Group by Time</label>
            <select class="form-control" name="GroupbyTime" id="exampleFormControlSelect1">
            <option value="low">Low: 3-23</option>
            <option value="medium" >Medium: 24-33</option>
            <option value="high">High: 35 and up mins</option>
            </select>
    </div>
​
        <button class="btn btn-primary" type="submit">Submit form</button>
​
    </form>
​
​
<div class="container">
​
<div class="container">
​
​
</div>
​
<!-- footer stuff -->
​
    <div class="well">
    
        <p>© 2020<a href="https://www.linkedin.com/in/kadarseveamek/" target="_blank"> Kadar Amek</a> and <a href="https://www.linkedin.com/in/alienorviollet/"target="_blank">Alienor Viollet</a>
    
        </p>
    </div>
</div>
​
</body>
​
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
​
​
</html>