<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" />

<! –– link to style.css file ––>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<! –– link to style.css file ––>
<link rel= "stylesheet" type= "text/js" href= "{{ url_for('static',filename='styles/style.js') }}">

</head>
<body>

<h2>Hungquery</h2>
<div class="container">
    <input type="text" type="text" placeholder="Search" aria-label="Search">
    <div class="search"></div>
  </div>
<p>By Alienor and Kadar</p>
<button onclick="document.getElementById('myImage').src='images/pic_bulbon.gif'">Turn on the light</button>

<img id="myImage" src="images/pic_bulboff.gif" style="width:100px">
<p></p>
<div class="row">
  <div class="column" style="background-color:#6B5B95;">
    <h2>Brekkie</h2>
    <p>Recipe Title (placeholder)</p>
    <p>Total Calories (placeholder)</p>
    <p>Cousine (placeholder)</p>
    <p> clickable image (placeholder)</p>
  </div>
  <div class="column" style="background-color:#F7CAC9;">
    <h2>Munch</h2>
    <p>Recipe Title (placeholder)</p>
    <p>Total Calories (placeholder)</p>
    <p>Cousine (placeholder)</p>
    <p> clickable image (placeholder)</p>
  </div>
  <div class="column" style="background-color:#FF6F61;">
    <h2>Linner</h2>
    <p>Recipe Title (placeholder)</p>
    <p>Total Calories (placeholder)</p>
    <p>Cousine (placeholder)</p>
    <p> clickable image (placeholder)</p>
  </div>
</div>

</body>
</html>