<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css"/>
<! –– link to style.css file ––>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<! –– link to bootstrap ––>
<link href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet">
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <h1 align="center">Hungquery</h1>
  <p align="center">By Alienor and Kadar</p>
</head>
<body>
<button onclick="document.getElementById('myImage').src='images/pic_bulbon.gif'">Turn on the light</button>

<img id="myImage" src="images/pic_bulboff.gif" style="width:100px">
<p></p>
<div class="row">
  <div class="column" style="background-color:#6B5B95;">
    <h2 align="center">Brekkie</h2>
    <p align="center">Recipe Title (placeholder)</p>
    <p align="center">Total Calories (placeholder)</p>
    <p align="center">Cousine (placeholder)</p>
    <p align="center"> clickable image (placeholder)</p>
  </div>
  <div class="column" style="background-color:#F7CAC9;">
    <h2 align="center">Munch</h2>
    <p align="center">Recipe Title (placeholder)</p>
    <p align="center">Total Calories (placeholder)</p>
    <p align="center">Cousine (placeholder)</p>
    <p align="center"> clickable image (placeholder)</p>
  </div>
  <div class="column" style="background-color:#FF6F61;">
    <h2 align="center">Linner</h2>
    <p align="center">Recipe Title (placeholder)</p>
    <p align="center">Total Calories (placeholder)</p>
    <p align="center">Cousine (placeholder)</p>
    <p align="center"> clickable image (placeholder)</p>
  </div>
</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>