* {
  box-sizing: border-box;

}

/* Create three equal columns that floats next to each other */
.column {
  padding-left: 7.5px;
  padding-right: 7.5px;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacer {
    width: 30px;
    height: 30px;
}

